* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffffff;
  /* Light mode background */
  color: #333;
  /* Light mode text color */
}

div {
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: row;
  background-color: #e0e3e6;
  /* Light header background */
  margin-top: 0%;
  height: 100%;
  position: sticky;
  padding: 10px;
}

.header img {
  margin-left: 50px;
  border-radius: 100px;
}

.header p {
  font-weight: 800;
  font-size: xx-large;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
  letter-spacing: 0.1px;
  word-spacing: 5px;
}

footer {
  width: 100%;
  margin-top: 44%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 0.1px;
  word-spacing: 4px;
  font-size: small;
  text-align: center;
  background-color: #e0e3e6;
  /* Light footer background */
  padding-top: 5px;
  height: 100%;
}


/* Dark Mode Styles */
.app.dark {
  background-color: #333;
  /* Dark background for the app */
  color: #ddd;
  /* Light text color for dark mode */
}

.app.dark .header {
  background-color: #444;
  /* Dark header background */
  color: white;
}

.app.dark footer {
  background-color: #444;
  /* Dark footer background */
}

.app.dark .note {
  background-color: transparent;
  /* Dark note background */
  color: #ddd;
  /* Light text color for notes in dark mode */
}

.app.dark button {
  color: rgba(255, 255, 255, 0.653);
  box-shadow: 3px 3px 15px -10px black;
}

.app.dark button:hover {
  color: rgb(249, 247, 247);
  /* background-color: #6a7d7f; */
  /* Dark button hover */
}

.app.dark .note .btn {
  background-color: #666;
  /* Dark button background */
  color: #fff;
  /* White text color */
}

.app.dark .edit-modal input {
  color: black;
}

.app.dark .edit-modal textarea {
  color: black;
}

/* Light Mode Styles (optional) */
.app.light {
  background-color: #ffffff;
  /* Light background for the app */
  color: #333;
  /* Dark text color for light mode */
  width: 100%;
}

.app.light .header {
  background-color: #e0e3e6;
  /* Light header background */
}

.app.light footer {
  background-color: #e0e3e6;
  /* Light footer background */
}

.app.light .note {
  background-color: #fff;
  /* Light note background */
  color: #333;
  /* Dark text color for notes in light mode */
}

.app.light button {
  color: black;
}

.app.light button:hover {
  background-color: #a4c7d3;
  /* Light button hover */
}

.app.light .note .btn {
  background-color: #f0f0f0;
  /* Light button background */
  color: black;
  /* Black text color */
}

.app.dark input {
  color: white;
}

.app.dark textarea {
  color: white;
}